.card-post {
    max-width: 310px;
    border-radius: 8px;
    margin-bottom: 12px;
    overflow: hidden;
    border: 1px solid rgb(219, 219, 219);
}

.header-card {
    margin: 8px 4px 8px 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.avatar-container-card {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.username-contariner {
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-height: 40px;

}

.username {
    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.header-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-header-card {
    padding: 8px;
    padding-right: 12px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.icons-card-container {
    display: flex;
    flex-direction: row;
    padding-inline: 2px;
    padding-bottom: 6px;
    justify-content: space-between;
}

.like-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-card {
    width: 100%;
}
.icons-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    padding-inline: 12px;
    padding-bottom: 12px;
    color: rgb(38, 38, 38);
}

.username-text {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.text {
    font-weight: 400;
    font-size: 14px;
}

.more-post {
    color: rgb(142, 142, 142);
    cursor: pointer;
}

.image-container {
    position: relative;
}

.instagram-heart {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url("https://imgur.com/rksyGE8.png") no-repeat center/contain;
    opacity: 0;
    transform: scale(0);
    animation-duration: 1000ms;
    animation-name: like-heart-animation;
    animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    15% {
        opacity: .9;
        transform: scale(1.2);
    }

    30% {
        transform: scale(.95);
    }

    45%,
    80% {
        opacity: .9;
        transform: scale(1);
    }
}

@media screen and (min-width : 768px) {
    .card-post {
        max-width: 470px;
    }
}